$body-bg: #2e2e2e;

.contact-info{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 1fr;
    border-bottom: 1px solid black;


  }

.info{
    display:flex;
    gap: 0.5rem;
}
  .person-name{
      text-transform: uppercase;
      font-weight: 250;
      font-size: 4rem;
      margin:0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .name-logo{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    .box {
      display:flex;
      align-items: center;
      justify-content: space-around;
      width: 90px;
      height: 90px;
      transform: rotate(45deg);
      border: 1px solid black;
      > span{
        font-size: 2.3rem;
        transform: rotate(-45deg);
        text-transform: uppercase;
      }
      .separator{
        width: 1px;
        height: 60px;
        background-color: black;
      }
    }
  }


  #submit{
    grid-column: 2/4;
  }

  label > input{
    font-size: large;
    padding: 0.2rem;
  }

  .contactInfo-form{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    .navigation-btns-edit{
      grid-column: 1/3;
    }
    >label input{
      font-size: 1.2rem;
      padding: 0.7rem;
    }

    >label p{
      margin: 0;
    }
  }

