.current-projects{
    display: grid;
    grid-template-columns: 25% 1fr;
    border-bottom: 1px solid black;

}

.left-projects{
    text-align: left;
}

ul{
    height: min-content;
    padding: 0;
}