
.experience-container{
    display: grid;
    grid-template-columns: 25% 1fr;
    border-bottom: 1px solid black;
}

.entries-container{
    display: grid;
    gap: 1.5rem;
}
.title-and-period{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-title{
    font-weight: bold;
    font-size: large;
}

.saved-experience-entry{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 40% 45% 15%;
}

.job-main-info{
    display: flex;
    flex-direction: column;
}
.saved-experience-location-dates{
    display: flex;
    gap: 0.5rem;
}

.edit-add-experience-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.saved-experience-entry:hover{
    background-color: rgb(240, 239, 239);
}

.navigation-btns-edit{
    grid-column: 2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.add-experience-placeholder{
    position: absolute;
}

.add-experience-container{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-experience-window{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    height: 50%;
    background-color: white
}

.add-experience{
    grid-column: 1/3;
}
